on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"

jobs:

  test:
    runs-on: "ubuntu-latest"
    steps:
      # Basic setup
      - uses: "actions/checkout@v6"
      - run: "pipx install poetry"
      - uses: "actions/setup-python@v6"
        with:
          python-version: "3.12"
          cache: "poetry"

      # Install the dependencies
      - run: "poetry install --no-interaction --no-ansi"

      # Run all the tests
      - run: "poetry run python -m dl4to4ocp.resize"
      - run: "poetry run python -m dl4to4ocp.voxels"
      - run: "poetry run python -m example.example"
